################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Graduation Project/Graduation Project/wwwroot/uploads/lab-tests/1
/Graduation Project/Graduation Project/wwwroot/uploads/chat/4ddc7757-ef0a-457b-bc5a-46a75badc8af
/project-timeline.txt
/.vs/CopilotSnapshots
/ASSISTANT_PORTAL_ANALYSIS.md
