################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Graduation Project/Graduation Project/wwwroot/uploads/ultrasound
/Graduation Project/Graduation Project/wwwroot/uploads/lab-tests/1
